<!DOCTYPE html>
<html lang="en">
<body>
<form action="/enter" method="post">
  <input type ="text" name="id" placeholder="Enter Id" autocomplete="off">
    <br/>
   <input type="text" name="name"   placeholder="Enter Name" autocomplete="off">
<br/>
       <input type="text" name="class"   placeholder="Enter Class" autocomplete="off">
<br/>
       <input type="text" name="maths"   placeholder="Maths Marks" autocomplete="off">
<br/>
       <input type="text" name="physics"   placeholder="Physics Marks" autocomplete="off">
<br/>
           <input type="text" name="chemistry"   placeholder="Chemistry Marks" autocomplete="off">
<br/>
    <input type="submit">

</form>
</body>
</html>